Kode/Projekt 3/Projekt 3 - Desktop/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Projekt_3___WCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Projekt_3___WCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntertainment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entertainment" nillable="true" type="tns:Entertainment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntertainment" nillable="true" type="tns:ArrayOfEntertainment" />
  <xs:complexType name="Entertainment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" type="xs:int" />
      <xs:element minOccurs="0" name="FilmingLocation" type="xs:int" />
      <xs:element minOccurs="0" name="Genre" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Information" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" type="xs:int" />
      <xs:element minOccurs="0" name="ReleaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StoryLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entertainment" nillable="true" type="tns:Entertainment" />
  <xs:complexType name="Movie">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entertainment">
        <xs:sequence>
          <xs:element minOccurs="0" name="country" type="xs:int" />
          <xs:element minOccurs="0" name="filmingLocation" type="xs:int" />
          <xs:element minOccurs="0" name="genre" type="xs:int" />
          <xs:element minOccurs="0" name="information" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="language" type="xs:int" />
          <xs:element minOccurs="0" name="releaseDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="storyline" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Movie" nillable="true" type="tns:Movie" />
</xs:schema>