Kode/Projekt 3/Projekt 3 - Desktop/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF___library/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Projekt_3___WCF.Model" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF___library/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model___Layer.Model" />
  <xs:element name="FindAllEntertainments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllEntertainmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Projekt_3___WCF.Model" minOccurs="0" name="FindAllEntertainmentsResult" nillable="true" type="q1:ArrayOfEntertainment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonalEntertainments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonalEntertainmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Projekt_3___WCF.Model" minOccurs="0" name="FindPersonalEntertainmentsResult" nillable="true" type="q2:ArrayOfEntertainment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllGenre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model___Layer.Model" minOccurs="0" name="FindAllGenreResult" nillable="true" type="q3:ArrayOfGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllFilmingLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllFilmingLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model___Layer.Model" minOccurs="0" name="FindAllFilmingLocationsResult" nillable="true" type="q4:ArrayOfFilmingLocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllLanguage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model___Layer.Model" minOccurs="0" name="FindAllLanguageResult" nillable="true" type="q5:ArrayOfLanguage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model___Layer.Model" minOccurs="0" name="FindAllCountriesResult" nillable="true" type="q6:ArrayOfCountry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartInsertMovieTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Projekt_3___WCF.Model" minOccurs="0" name="m" nillable="true" type="q7:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartInsertMovieTransactionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>