Kode/Projekt 3 - WCF/Host/Connected Services/FavoriteListService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Projekt_3___WCF.Model" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Model___Layer.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_FindAllListByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAllListByUser" />
  </wsdl:message>
  <wsdl:message name="IService1_FindAllListByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllListByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEntertainmentToFavoriteList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEntertainmentToFavoriteList" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEntertainmentToFavoriteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEntertainmentToFavoriteListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateNewFavoriteList_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewFavoriteList" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateNewFavoriteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewFavoriteListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUserToFavoriteList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToFavoriteList" />
  </wsdl:message>
  <wsdl:message name="IService1_AddUserToFavoriteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToFavoriteListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveUserFromFavoriteList_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromFavoriteList" />
  </wsdl:message>
  <wsdl:message name="IService1_RemoveUserFromFavoriteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromFavoriteListResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="FindAllListByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FindAllListByUser" message="tns:IService1_FindAllListByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FindAllListByUserResponse" message="tns:IService1_FindAllListByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEntertainmentToFavoriteList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddEntertainmentToFavoriteList" message="tns:IService1_AddEntertainmentToFavoriteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddEntertainmentToFavoriteListResponse" message="tns:IService1_AddEntertainmentToFavoriteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewFavoriteList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateNewFavoriteList" message="tns:IService1_CreateNewFavoriteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateNewFavoriteListResponse" message="tns:IService1_CreateNewFavoriteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToFavoriteList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddUserToFavoriteList" message="tns:IService1_AddUserToFavoriteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddUserToFavoriteListResponse" message="tns:IService1_AddUserToFavoriteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromFavoriteList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemoveUserFromFavoriteList" message="tns:IService1_RemoveUserFromFavoriteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemoveUserFromFavoriteListResponse" message="tns:IService1_RemoveUserFromFavoriteList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindAllListByUser">
      <soap:operation soapAction="http://tempuri.org/IService1/FindAllListByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEntertainmentToFavoriteList">
      <soap:operation soapAction="http://tempuri.org/IService1/AddEntertainmentToFavoriteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewFavoriteList">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateNewFavoriteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserToFavoriteList">
      <soap:operation soapAction="http://tempuri.org/IService1/AddUserToFavoriteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromFavoriteList">
      <soap:operation soapAction="http://tempuri.org/IService1/RemoveUserFromFavoriteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FavoriteListService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>